<%- include('layouts/header.ejs'); -%>

<body>
    <div id="container">
        <%- include ('layouts/navigation.ejs'); -%>
        <%- include ('layouts/hero.ejs'); -%>
        <%- include ('layouts/links.ejs'); -%>
        <div id="content">
            <%- include ('layouts/contentNav.ejs'); -%>
            <% for (var i = 0; i < projects.length; i++) { %>
                <% if(projects[i].type === 'Photo' || projects[i].type === 'Project') { %>
                    <a href="/project/<%= projects[i]._id %>">
                <% } %>
                <div class="project-card">
                    <div class="card-copy">
                        <div class="date-type card-date">
                            <img src="/img/<%= projects[i].type.toLowerCase() %>.svg" />
                            <p>
                                <%=  months[projects[i].datePosted.getMonth()] %>
                                <%=  projects[i].datePosted.getDate() %>,
                                <%=  projects[i].datePosted.getFullYear() %>
                            </p>
                        </div>
                        <h3>
                            <%= projects[i].title %>
                        </h3>
                        <% if (projects[i].type === 'Project') { %>
                            <p><%- projects[i].preview %></p>
                            <p class="read-more">Read More &#8250</p>
                        <% } %>
                        <% if (projects[i].type === 'Photo' || projects[i].type === 'Musing') { %>
                            <p><%- projects[i].body %></p>
                        <% } %>
                    </div>
                    <% if (projects[i].type === 'Photo' || projects[i].type === 'Project') { %>
                        <img src="<%= projects[i].image %>" alt="<%= projects[i].title %>" />
                    <% } %>
                </div>
                <% if(projects[i].type === 'Photo' || projects[i].type === 'Project') { %>
                    </a>
                <% } %>
            <% } %>
            <div class="pagination">
                <div class="pagination-button">
                    <% if(p > 1) { %><a href="?p=<%= Number(p) - 1 %>#content">Previous</a><% } %>
                </div>
                <div class="pagination-button">
                    <% if(next) { %><a href="?p=<%= Number(p) + 1 %>#content">Next</a><% } %>
                </div>
            </div>
            </div>
        <%- include ('layouts/footer.ejs'); %>